.aboutContainer {
    /* border: 2px solid red; */
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subTitle {
    line-height: 1.1;
    margin-bottom: 2vh;
    color: var(--NeonGreen);
}

.aboutText {
    display: flex;
    justify-content:center;
    width: 50%;
    font-size: 1.5em;
    color:var(--TextColor);
}

.aboutTextBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 1.2em;
    color:var(--NeonGreen);
}