.ExperienceContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ExperienceTitle {
    line-height: 1.1;
    margin-bottom: 2vh;
    color: var(--NeonGreen);
    margin-top: 10vh;
}

.experienceDescriptionContainer {
    color: var(--TextColor);
    margin: 4vh;
    line-height: 2;
}

