.footerContainer {
    margin: 5vh auto;
    text-align: center;
}

.footerText {
    color: var(--NeonGreen);
}

img {
    width: 10vh;
    height: 10vh;
    margin: 0 2vh 0 2vh;
    cursor: pointer;
}