.footerContainer {
  margin: 5vh auto;
  text-align: center;
}

.footerText {
  color: var(--NeonGreen);
}

.footerContainer img {
  width: 10vh;
  height: 10vh;
  margin: 0 2vh 0 2vh;
  cursor: pointer;
}

.footerContainer img:hover {
    border: 2px solid var(--NeonGreen);
    border-radius:50%;
    box-shadow: 2px 2px 10px var(--NeonGreen);
}

.myEmail {
  display: flex;
  justify-content: center;
  color: var(--NeonGreen);
  cursor: pointer;
  text-decoration: none;
  font-size: 4vh;
  margin-bottom: 2vh;
}

.myEmail:link {
  text-decoration: none;
}

.myEmail:visited {
  text-decoration: none;
}

.myEmail:hover {
  text-decoration: none;
  color: var(--TitleColor);
}

.myEmail:active {
  text-decoration: none;
}
