

.headerContainer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:8vh;
    align-items: center;
}

.navContainer {
    display: flex;
    flex-direction: row;
    width: 50vh;
    margin-right: 10vh;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    color: white;
}

.navContainer li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.navContainer li:hover {
    color: var(--NeonGreen);
    cursor: pointer;
}

.logoContainer {
    margin-left: 10vh;
    color: var(--NeonGreen);
}

.index {
    color: var(--NeonGreen);
}

/* smaller screens */

@media screen and (max-width: 800px) {
    .navContainer {
        display: none;
    }

    .headerContainer {
        justify-content: center;
        align-items: center;
    }

    .logoContainer {
        margin: 0;
        align-items: center;
    }
}