

.headerContainer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    height:8vh;
    align-items: center;
    border: 5px solid red;
}

.logoContainer {
    color: var(--NeonGreen);
}

.index {
    color: var(--NeonGreen);
}

/* smaller screens */

@media screen and (max-width: 800px) {
    .navContainer {
        display: none;
    }

    .headerContainer {
        justify-content: center;
        align-items: center;
    }

    .logoContainer {
        margin: 0;
        align-items: center;
    }
}