.headerContainer {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}

.navContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.navContainer li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}