* {
    margin: 0;
    padding: 0;
    background-color:#0a192f;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

.homeContainer {
    height: 40vh;
    color:white;
    display:flex;
    justify-content:center;
    /* border: 2px solid green; */
    align-items:center;
    width: 100%;
}
.introContainer {
    margin: 15vh 15vh 10vh 10vh;
    /* border: 2px solid white; */
    /* min-width: 480px; */
}

.myName {
    font-size: clamp(30px, 6vw, 80px);
    font-weight: 600;
    line-height: 1.1;
    margin-top: 1vh;
    color: #CCD6F6;
}

.introduction {
    color: #64FFDA;
    font-size: clamp(14px,5vw,16px);
}

.introductionText {
    color: #8892B0; 
    line-height: 1.2;
    margin-top: 1vh;
}

.trybe {
    color: #036b52;
    font-weight: bold;
}

/* smaller screens */

body {
    width: 99.5%;
    height: 100%;
}

.closeParenthesis {
    color:#64FFDA;
}

@media screen and (max-width: 800px) {
    .homeContainer {
        /* background-color: black; */
        justify-content: center;
        align-items: center;
    }
    .introContainer {
        margin: 3vh;
        margin-left: 6vh;
    }
}

@media screen and (max-width: 375px) {
    html{
        width: 375px;
        overflow: auto;
    }
}