.hamburgerIcon {
    height: fit-content;
    width: fit-content;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: transparent;
    overflow-x: hidden;
    padding: 3vh;
    margin-right: 5vh;
    margin-top: 5vh;
    cursor: pointer;
}

.firstLine {
    width: 45px;
    height: 5px;
    background-color: var(--NeonGreen);
    margin: 6px 0;
    transition: width 1s;
}

.secondLine {
    width: 30px;
    height: 5px;
    background-color: var(--NeonGreen);
    margin: 6px 0;
    transition: width 1s;
}

.thirdLine {
    width: 20px;
    height: 5px;
    background-color: var(--NeonGreen);
    margin: 6px 0;
    transition: width 1s;
}

.hamburgerIcon:hover .firstLine {
    width:55px;
    height:5px;
    transition: width 1s;
}

.hamburgerIcon:hover .secondLine {
    width:40px;
    height:5px;
    transition: width 1s;
}

.hamburgerIcon:hover .thirdLine {
    width:30px;
    height:5px;
    transition: width 1s;
}

@media screen and (max-width: 1000px) {
    .hamburgerIcon {
        display: none;
    }
}