.projectsContainer {
    /* border: 2px solid white; */
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
    height: 90vh;
}

.subTitleProject {
    display: flex;
    justify-content: center;
    line-height: 1.1;
    margin-bottom: 2vh;
    color: var(--NeonGreen);
    align-items: center;
}

.carousel-caption-bottom {
    color: var(--NeonGreen);
    text-shadow: 5px 5px 10px rgba(0,0,0,0.8);
}

.project {
    border: 2px solid red;
    width: 10vh;
    height: 10vh;
    margin: 5vh;
}

.fade {
   
  -webkit-animation-name: fade;
  -webkit-animation-duration: 10s !important;
  animation-name: fade;
  animation-duration: 10s !important;
}

@-webkit-keyframes fade {
    from {opacity: 0 !important}  
    to {opacity: 0 !important}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

.thumbnail {
    margin: 0 5px !important;
    height: 10vh !important;
    width: 10vh !important;
    border-radius: 5px;
}

.thumbnails {
    display: flex;
    justify-content: center;
}

.active-thumbnail {
    border: 2px solid var(--NeonGreen) !important;
    box-shadow: 2px 3px 10px var(--NeonGreen);
}

.carousel-caption-top {
    color: var(--NeonGreen) !important;
    background-color: transparent !important;
    text-shadow: 7px 7px 10px var(--PageBackground) !important;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: var(--PageBackground) !important;
}

.next , .prev{
    color: var(--NeonGreen) !important;
    background-color: transparent !important;
    font-size: 2em !important;
    text-shadow: 7px 7px 10px var(--PageBackground) !important;
}

.carousel-container {
    max-width: fit-content !important;
}

.box {
    max-width:fit-content !important;
}

.carousel-image {
    width: 850px !important;
}

@media screen and (max-width:940px) {
    .box {
        width: 500px !important;
        height: 500px !important;
    }
    .carousel-image {
        width: 500px !important;
    }
}

@media screen and (max-width:580px) {
    .box {
        width: 300px !important;
        height: 300px !important;
    }
    .carousel-image {
        width: 300px !important;
    }
}