.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: transparent !important;
  overflow-x: hidden;
  padding-top: vh;
  margin-top: 15vh;
  animation: show 3s backwards;
}

@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.sidenav button {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sidenav button:hover {
  color: var(--NeonGreen);
  border: none;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

.hide {
    display: none;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
    .sidenav {
        display: none;
    }
}
