:root {
    --PageBackground: #0a192f;
    --NeonGreen: #64FFDA;
    --TextColor: #8892B0;
    --GlobalFont: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --TitleColor: #CCD6F6;
}  